[Oo]bj/
src/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
lib/Sitecore/*
!lib/Sitecore/readme.MD
lib/System/*
!lib/System/readme.MD
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
gulp-config.js
WebAPI.log*
IntegrationAPI.log*
IntegrationAPI.XML
src/Feature/Accounts/code/web.*
src/Feature/Email/code/web.*
src/Integration/MIHomes.Integration.DEF/web.*
src/Foundation/SharedContent/code/web.*
src/Foundation/MIHomes.Foundation.RedirectModule/code/web.*
src/Foundation/Sitemap/code/web.*

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# Hedgehog Team Development for Sitecore
*.scproj.user
IconCache/
T4RenderCache/
BuiltFiles_*.txt
TdsGlobal.config.user
*.update
[Pp]ackage_*/
*.csproj.sitecore

# Copysauce
.CopySauce.json
*.DotSettings
/m.bat
src/Feature/Integration/MIHomes.Feature.Integration/App_Config
src/Feature/FeedGen/code/App_Config
/build.log

node_modules
dist
.sass-cache
*.log
backstop_data/bitmaps_test
.idea
package-lock.json
